{% extends 'menu_app/base.html' %}
{% comment %} {% load staticfiles %} {% endcomment %}
{% comment %} {% static 'css/menu_list.css' %} {% endcomment %}
{% load static from staticfiles %}

{% block menu %}
    <ul> {% load menu_manage %} 

        {% draw_menu menu_name %}
        {% include "menu_app/travel_tree.html" %}
        

        {% draw_menu another_menu_name %}
        {% include "menu_app/travel_tree.html" %}


        {% comment %} {% if main_menu_built %}
            {% draw_current current_menu %}
        {% endif %} {% endcomment %}
        

        {% comment %} <li><a href="{{ main_menu_url }}"{% if request.path == '{{main_menu_url}}' %} class="current"{% endif %}>{{request.path}} {{main_menu_url}}</a></li> {% endcomment %}
        
        
        {% comment %} {% get_children root current_menu %}
        <tr>{% include "menu_app/draw_children.html" %}</tr>
          {% endcomment %}
       

    </ul>
{% endblock %}

