{% comment %} {{title}}
{% for key, val in test.items %}
    {% with visible_items=val  %}
        {{val}}
    {% endif %}
{% endfor %} {% endcomment %}

{% if current_node.name in visible_items %}
    <li> 
          <a href="{{ current_node.url }}" id='item'> {{current_node.name}} </a> 
         {% if current_node.children %}
             <ul id='children'>
                   {% for ch in current_node.children %}
                        {% with current_node=ch template_name="menu_app/travel_tree.html" %}
                             {% include template_name%}
                        {% endwith %}
                   {% endfor %}
             </ul>
        {% endif %}
    </li>
{% endif %}
